[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/muparser"]
	path = libraries/muparser
	url = https://github.com/beltoforion/muparser.git
