name: Build

# Triggered when code is pushed to any branch in a repository
on: push

jobs:
  linux:
    runs-on: ubuntu-latest

    container:
      image: docker://jgeudens/qt-linux:6.5.3_build_1
    steps:
      - uses: actions/checkout@v4

      - name: Start display server
        run: bash /start.sh &

      - name: Update Modules and Build
        run: bash scripts/build_linux.sh

      - name: Deploy
        run: bash scripts/deploy_linux.sh

      - uses: actions/upload-artifact@v4
        with:
          name: modbusscope-linux
          path: ModbusScope*.AppImage

  docs:
    runs-on: ubuntu-latest

    container:
      image: docker://jgeudens/qt-linux:6.5.3_build_1
    steps:
      - uses: actions/checkout@v4

      - name: Build doc
        run: |
          sh create_doc.sh
          mv docs/_build/latex/modbusscope.pdf modbusscope-user-manual.pdf

      - uses: actions/upload-artifact@v4
        with:
          name: modbusscope-user-manual
          path: modbusscope-user-manual.pdf

  windows:
    runs-on: windows-2019
    
    steps:
      - uses: actions/checkout@v4

      - name: Install Qt installer
        run: pip3 install aqtinstall

      # Cache go build cache, used to speedup go test
      - name: Qt Build Cache
        uses: actions/cache@v3
        id: cache
        with:
          path: ${{ github.workspace }}\Qt
          key: ${{ runner.os }}-qt-build-${{ hashFiles('scripts\setup_windows.bat') }}

      - name: Setup, build and deploy
        shell: cmd
        run: scripts\full_build_and_deploy_windows.bat '${{ steps.cache.outputs.cache-hit }}' ${{ github.workspace }}\Qt

      - uses: actions/upload-artifact@v4
        with:
          name: modbusscope-windows
          path: |
            ModbusScope.zip
            ModbusScope_setup.exe
