name: Doc

# Triggered when code is pushed to any branch in a repository
on: push

jobs:
  docs:
    runs-on: ubuntu-latest

    container:
      image: docker://jgeudens/doc-latex:20250124_build_1
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Build doc
        run: |
          sh create_doc.sh
          mv docs/manual/_build/latex/modbusscope.pdf modbusscope-user-manual.pdf

      - uses: actions/upload-artifact@v5.0.0
        with:
          name: modbusscope-user-manual
          path: modbusscope-user-manual.pdf
